@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --font-heading: "Oswald", sans-serif;
  --font-monospace: "Space Mono", monospace;
  --color-primary-500: rgb(59, 123, 170);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary-foreground: hsl(0 0% 9%);
  --color-sidebar-foreground: hsl(240 5.3% 26.1%);
  --color-popover-foreground: hsl(0 0% 3.9%);
  --color-footer: rgb(106, 141, 115);
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(0.5rem - 2px);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
  animation-duration: 0.2s;
}

.button-primary {
  border-color: rgb(59, 123, 170);
  background-color: rgb(59, 123, 170);
  color: hsl(0 0% 98%);
}
